/* .path {
  stroke-dasharray: 1000;
  stroke-dashoffset:1000;
  animation: dash 5s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
} */
.log {
  transform: translate(-999) !important;
  background-image: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  background-clip: text;
  /* font-size: 8rem; */
  font-weight: bold;
  color: transparent;
  animation: co 100s linear infinite alternate;
}
@keyframes co {
  from {
    filter: hue-rotate(0deg);
    background-position-x: 0%;
  }
  to {
    filter: hue-rotate(360deg);
    background-position-x: 600vw;
  }
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.section1 {
  background-color: red;
}
.co p {
  position: absolute;
  top: 0;
  left: 0;
}
.section2 {
  background-color: blue;
}
.section3 {
  background-color: purple;
}